<head>
  <title> {{site}} | Profile </title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  <style>
    body{
      background-color: black;
      color: white;
      text-align: center;
    }
    #login-prompt{
      color: black;
    }
    #main-nav{
      position: -webkit-sticky;
      position: sticky;
      top: 0.001px;
      bottom: 20px;
    }
  </style>
 
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="main-nav">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">{{site}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pricing">Pricing Plans</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/applications">Applications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/discord">Discord</a>
        </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<h1>
  {{g.user.username}}
</h1>
{% if isadmin %}
<span class="badge rounded-pill bg-light text-dark">Admin</span>
{% endif %}
<h4>
  Dashboard
</h4>
<p> Welcome, {{g.user.username}}! The dashboard's development is going full speed ahead! A few preview components are out.
</p>
<div style = "text-align: left;">
<div class="btn-group" role="group" aria-label="Basic example">
  <button id = "btn1" class = "btn btn-outline-light"> Your info </button>
  <button id = "btn2" class = "btn btn-outline-light"> Change password</button>
  <button id = "btn3" class = "btn btn-outline-light">  Delete Account </button>
</div>
<div id="Settings">
  <div class="card card-body">
    (This is work in progress) <br>
    username: {{g.user.username}} <br>
    password: {{passwordt}}
  </div>
</div>
<div id="page2" style = "display: none">
  <div class="card card-body">
    <form method="POST">
       <div class="field">
            <label class="label">New password</label>
            <div class="control has-icons-left has-icons-right">
            <input class="input" type="text" name="password" placeholder="New Password">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
        </div>
        <div class="field">
                <p class="control">
                  <button type="submit" class="btn btn-outline-success">
                    Change password
                  </button>
                </p>
              </div>
</form>
  </div>
</div>
<div  id="page3" style = "display: none">
  <div class="card card-body">
    <a href = "/delacc" class = "btn btn-outline-danger"> DELETE ACCOUNT </a>
  </div>
</div>
</div>
<script> 
$(document).ready(function(){
  $("#btn1").click(function(){
    $("#page2").slideUp();
    $("#page3").slideUp();
    $("#Settings").slideDown();
  });
  $("#btn2").click(function(){
    $("#Settings").slideUp();
    $("#page3").slideUp();
    $("#page2").slideDown();
  });
  $("#btn3").click(function(){
    $("#Settings").slideUp();
    $("#page2").slideUp();
    $("#page3").slideDown();
  });
});
</script>